@CHARSET "UTF-8";
/*网页头样式*/
div#header_header{
	width: 100%;
	background: #F2F2F2;
	height: 32px;
}
div#header_header_main{
	margin: 0 auto;
	width: 1200px;
	font-family: "微软雅黑";
	/*border: 1px red solid;*/
}
div#header_header_main a:link{
	color: #999999;
	text-decoration: none;
}
div#header_header_main a:visited{
	color: darkred;
}
div#header_header_main a:hover{
	color:burlywood;
}
div#header_header_main ul{
	font-size: 13px;
	list-style: none;
	float: right;
	margin: 0;
}
div#header_header_main ul li{
	margin-top: 10px;
	display: inline-block;
	/*border: 1px red solid;*/
	padding: 0 15px 0 0;				
}
/*菜单栏样式*/
#navigation, #navigation li ul { 
list-style-type:none; 
} 
#navigation li { 
float:left; 
text-align:center; 
/*border: 1px red solid;*/
} 
#navigation li a:link, #navigation li a:visited { 
text-decoration:none; 
color:#C87144; 
padding-left:10px; 
/*border: 1px red solid;*/
} 
#navigation li a:hover { 
background:none; 
} 
#navigation li ul li a:hover { 
color:#fff; 
background:#6b839c; 
} 
#navigation li ul { 
display:none; 
position:absolute; 
width:100px; 
/*border: 1px red solid;*/
background: #F2F2F2;
padding: 0 0 10px 0;
} 

div#header_mid_vessel{
	text-align: center;
	width:100%;
	
	/*background: lightyellow;*/
}
div#header_mid{
	margin: 0 auto;
	width: 1200px;
	height: 94px;
	/*border: 1px red solid;*/
	position:relative;
}
div#header_logo{
	margin: 2px 0 0 0;
	width: 280px;
	height: 90px;
	/*background:blue;*/
	/* border:1px red solid; */
	float: left;
	background:none;
}
div#header_search{
	margin: 20px 300px 0 0;
	width: 482px;
	height: 61px;
	/*border: 1px black solid;*/
	display: inline-block;
	float: right;
	
}
.search{
	/*搜索框*/
	width:314px;
	height: 31px;
	border-top: 1px #FF0077 solid;
	border-left:none;
	border-bottom: 1px #FF0077 solid;
	background: none;
	font-family:'微软雅黑';
	font-size: 16px;
	float: left;
	margin: 0 0 0 18px;
	padding: 0 0 0 3px;
	outline: none;

}
.search_submit{
	/*搜索键*/
	width: 98px;
	height: 33px;
	float:right;
	margin: 0 45px 0 0;
	background: #FF0077;
	color: white;
	font-family:'宋体' ;
	font-size: 18px;
	cursor:pointer;
	border: none;
	position:relative;
	right:2px;
	
}

#header_hotwords{
	position:absolute;
	top: 55px;
	left:380px;
}

div#header_hotwords ul{
	display: inline-block;
	height: 20px;
	/*border: 1px red solid;*/
	padding: 0;
	margin: 5px 5px 0 0;
}

div#header_hotwords ul li{
	list-style: none;
	font-size: 13px;
	float: left;
	padding: 2px 15px 0 0;
}
div#header_hotwords a:link{
	color: #999999;
	text-decoration: none;
}
div#header_hotwords a:visited{
	color: #999999;
}
div#header_hotwords a:hover{
	color: red;
	text-decoration:underline;
}
/* 搜索下拉框 */
.list_search ul{
	list-style: none;
	padding:0;
	margin:0;
}

.list_search {
  /* display: none; */
  border: 1px solid #ccc;
  border-top-width: 0;
  width: 417px;
  height:200px;
  z-index: 99999;
  background-color: #fff;
  position:absolute;
  top:54px;
  left:436px;
  overflow:hidden;
  
  display:none;	
}

.list_search li {
  font-size: 1.2em;
  text-align:left;
  cursor: pointer;
  padding: 4px 0 4px 10px;
}

.list_search li:hover {
  background-color: #F5FFF7;
}

/* 选择下拉框 */
.choice{
	/*border-right: 1px #FF0077 solid ;*/
	width:80px;
	height: 31px;
	line-height:31px;
	border-top: 1px #FF0077 solid;
	border-left: 1px #FF0077 solid;
	border-bottom: 1px #FF0077 solid;
	font-family:'微软雅黑';
	font-size: 16px;
	position:absolute;
	top:20px;
	left:355px;
	color:#f07;
	font-size:14px;
	cursor: pointer;
	background:url("img/index/choice.png") no-repeat right center;
	
}

.choice_list ul{
	list-style:none;
	padding:0;
	margin:0;
}

.choice_list{
	position:absolute;
	top:50px;
	left:355px;
	border: 1px solid #ccc;
	border-top-width: 0;
	width: 80px;
	z-index: 99999;
	background-color: #fff;
	overflow:hidden;
	display:none;
		
}

.choice_list li {
  font-size: 14px;
  font-family: "微软雅黑";
  text-align:left;
  cursor: pointer;
  padding: 8px 0 6px 20px;
}

.choice_list li:hover {
  background-color: #F5FFF7;
}